.note{
    position:relative;
    width:100%;
    max-width:500px;
    margin:20px 0;
}

.note img{
    width:25px;
    position:absolute;
    bottom:15px;
    right:15px;
    cursor:pointer;
}

.input-box{
    width:100%;
    min-height:150px;
    background:#fff;
    color:#333;
    padding:20px;
    border-radius:5px;
    outline:none;
}
